# <%= tshirt["name"] %>

<img src="<%= tshirt["image_url"] %>" />

## Author

<%= tshirt["creator"] %>

## Author's Description

<%= tshirt["description"] %>

## Want your own?

<a href="<%= tshirt["link_url"] %>" alt="Buy Now">Find it here</a>
